doctype html
html
  head
    meta(charset='UTF-8')
    title 登录
  body
    form(action='', method='POST')
      input(type='password', name="password", placeholder='芝麻开门')
      button(type='submit') 登录